[Desktop Entry]
Name=Fix Mouse

Comment=Resets the Intel I2C HID touchpad driver to fix a disappearing cursor
Keywords=Mouse;Touchpad;

Type=Application
Icon=utilities-terminal
Exec=bash -c "fuzzel -d -p 'Password: ' --password | sudo -S fix-mouse.sh"
