window-rule {
    geometry-corner-radius 4
    clip-to-geometry true
}

window-rule {
    match is-floating=true

    min-width 600
    min-height 500
}

window-rule {
    match app-id="firefox"
    open-maximized true
}


window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="(?i)mullvad"
    
    open-floating false
}

window-rule {
    match app-id="floating-terminal"
    open-floating true

    default-column-width { fixed 900; }
    default-window-height { fixed 600; }
}

window-rule {
    match app-id="fzf-launcher"
    open-floating true

    default-column-width { fixed 900; }
    default-window-height { fixed 600; }
}
